<div class="today-class">
    <% if(todayClass && todayClass.length> 0) { %>
        <h2 class="section-header">Today's Class (<%=today %>) : </h2>
        <% todayClass.forEach((classItem,index)=> { %>
            <div class="class-item">
                <div class="class-item1">
                    <div>
                        <span style="margin: 0px;">
                            Subject: <%= classItem.course_name %> |
                        </span>
                        <span>
                            Dept : <%= classItem.department %>
                        </span></br>
                        <span>
                            Year : <%= classItem.year_semester[0] %> |
                                Semester : <%= classItem.year_semester[2] %>
                        </span>
                    </div>
                    <div>
                        <span>
                            Start Time : <%= classItem.start_time %> |
                                End Time : <%= classItem.end_time %>
                        </span>
                    </div>
                </div>
                <form method="post" action="/attendance_sheet/all">
                    <input type="hidden" name="course_name" value="<%= classItem.course_name %>">
                    <button style="font-family: fantasy;font-size: 24px;background-color: #4CAF50;">
                        open
                    </button>
                </form>
            </div>
            <% }); %>

    <% } else { %>
        <h4 style=" color:green;text-align: center;">
            No class is scheduled for today</h4>
        <% } %>
</div>