<div class="profile-header">

    <div class="dropdown">
        <img src="/img/menu.png" alt="menu">

        <div class="dropdown-content">
            <a href="/teacher/dashboard">Dashboard</a>
            <a href="/teacher/edit_profile">Edit profile</a>
            <a href="/teacher/setting">Setting</a>
            <a href="/teacher/logout">Log out</a>
        </div>
    </div>

    <!-- for pic segment -->
    <div class="profile-photo">
        <%if(user.picture){%>
            <img src="/profilePics/<%=user.picture%>" alt="Theacher phto">
            <% } else{ %>
                <img src="/img/default.jpg" alt="Theacher phto">
                <% } %>
                    <button id="picButton" type="submit">Edit photo</button>
                    <div id="picForm" style="display: none;">
                        <form id="edit-form" method="post" action="/teacher/update-profile-pic"
                            enctype="multipart/form-data">
                            <input type="file" name="updateProfilePic">
                            <input type="hidden" name="email" value=<%=user.email%> >
                            <button id="picSubmit" type="submit">Upload</button>
                        </form>
                    </div>
    </div>

    <!-- for name update -->
    <div class="profile-info">
        <div class="profile-info-item" id="name">
            <h1>
                <%= user.name %>
            </h1>
            <button id="nameButton"><img src="/img/edit.png" alt="edit"></button>
        </div>
        <div id="nameForm" style="display: none;">
            <form id="edit-form" method="post" action="/teacher/update-name">
                <input type="text" name="name" value="<%= user.name %>" required>
                <input type="hidden" name="email" value=<%=user.email%> >
                <button id="nameSubmit" type="submit">Submit</button>
            </form>
        </div>


        <!-- for updating positon -->

        <div class="profile-info-item" id="position">
            <p> Position :
                <%= user.position%>
            </p>
            <button id="positionButton"><img src="/img/edit.png" alt="edit"></button>
        </div>
        <div id="positionForm" style="display: none;">
            <form id="edit-form" method="post" action="/teacher/update-position">
                <input type="text" name="position" value="<%= user.position %>" required>
                <input type="hidden" name="email" value=<%=user.email%> >
                <button id="positionSubmit" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="img-ru-logo">
        <img src="/img/ru_logo.png" alt="ru-logo">
    </div>
</div>