<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="/teacher_dashboard_style.css">
    <!-- bootstrap online -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>

<body>
    <div class="menu-bar">
        <div>
            <h7>Smart classroom logo</h1>
        </div>

        <div class="dropdown">
            <img src="/img/menu.png" alt="menu">
            <div class="dropdown-content">
                <a href="/teacher/dashboard">Dashboard</a>
                <a href="/teacher/dashboard">Edit profile</a>
                <a href="/teacher/setting">Setting</a>
                <a href="/teacher/logout">Log out</a>
            </div>
        </div>

    </div>
    <div class="container">
        <!-- Profile Header -->
        <div class="profile-header">

            <!-- for pic segment -->
            <div class="profile-photo">
                <img src="/profilePics/<%=user.picture%>" alt="Theacher phto">
                <button id="picButton" type="submit">Edit photo</button>
                <div id="picForm" style="display: none;">
                    <form id="edit-form" method="post" action="/teacher/update-profile-pic"
                        enctype="multipart/form-data">
                        <input type="file" name="updateProfilePic">
                        <input type="hidden" name="email" value=<%=user.email%> >
                        <button id="picSubmit" type="submit">Upload</button>
                    </form>
                </div>
            </div>

            <!-- for name update -->
            <div class="profile-info">
                <div class="profile-info-item" id="name">
                    <h1>
                        <%= user.name %>
                    </h1>
                    <button id="nameButton"><img src="/img/edit.png" alt="edit"></button>
                </div>
                <div id="nameForm" style="display: none;">
                    <form id="edit-form" method="post" action="/teacher/update-name">
                        <input type="text" name="name" value="<%= user.name %>" required>
                        <input type="hidden" name="email" value=<%=user.email%> >
                        <button id="nameSubmit" type="submit">Submit</button>
                    </form>
                </div>


                <!-- for updationg positon -->

                <div class="profile-info-item" id="position">
                    <p><%= user.position%></p>
                    <button id = "positionButton"><img src="/img/edit.png" alt="edit"></button>
                </div>
                <div id="positionForm" style="display: none;">
                    <form id="edit-form" method="post" action="/teacher/update-position">
                        <input type="text" name="position" value="<%= user.position %>" required>
                        <input type="hidden" name="email" value=<%=user.email%> >
                        <button id="positionSubmit" type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="img-ru-logo">
                <img src="/img/ru_logo.png" alt="ru-logo">
                <!-- <a href="/teacher/logout"><button>Log out</button></a> -->
            </div>
            <!-- </div> -->
        </div>

        <!-- container1 cintain the section and course part -->
        <div class="container1">
            <div class="profile">
                <!-- Contact Info Section -->
                <div class="contact-info">
                    <h2 class="section-header">Contact Info :</h2>

                    <!-- Contact update -->

                    <div class="contact-info-item" id="contact">
                        <p>Address: <%= user.contact%></p>
                        <button id="contactButton"><img src="/img/edit.png" alt="edit"></button>
                    </div>

                    <div id="contactForm" style="display: none;">
                        <form id="edit-form" method="post" action="/teacher/update-contact">
                            <input type="text" name="contact" value="<%= user.contact %>" required>
                            <input type="hidden" name="email" value=<%=user.email%> >
                            <button id="contactSubmit" type="submit">Submit</button>
                        </form>
                    </div>



                    <!-- Email section -->
                    <div class="contact-info-item">
                        <p>Email Address: m.r.kushal@gmail.com</p>
                    </div>
                </div>

                <!-- research interest cse -->
                <div class="research-interest">
                    <h2 class="section-header">Research Interest : </h2>
                    <ul>
                        <li>Artificial Intelligence</li>
                        <li>Machine Learning</li>
                        <li>Computer Vision</li>
                        <li>Robotics</li>
                    </ul>
                    <button>Add new</button>
                </div>

                <!-- Education Section -->
                <div class="education">
                    <h2 class="section-header">Educational Background : </h2>
                    <div class="education-item">
                        <h4>Rajshahi University</h4>
                        <span>Master's degree, (M. Sc. in Computer Science & Engg.)</span>
                    </div>
                    <div class="education-item">
                        <h4>Rajshahi University</h4>
                        <span>Bachelor's degree, (B. Sc. in Computer Science & Engg.)</span>
                    </div>
                    <button id="educationButton">Add new</button>
                    <div id="educationForm" style="display: none;">
                        <form id="edit-form" method="post" action="/teacher/update-education">
                            <input type="text" name="institute" value="<%= user.education %>" required><br>
                            <input type="text" name="degree" value="<%= user.education %>" required><br>
                            <input type="hidden" name="email" value=<%=user.email%> >
                            <button id="educationSubmit" type="submit">Submit</button>
                        </form>
                    </div>
                </div>

            </div>

            <div class="course-contain">
                <!-- Courses Section -->
                <div class="courses">
                    <div class="new-course">
                        <h2 class="section-header">Courses : </h2>
                        <button class="new-course-btn">Add new course</button>
                    </div>
                    <div class="course-item">
                        <div>
                            <h4>English Language Arts</h4>
                            <span>9 lessons/1 month - Ongoing Now</span>
                        </div>
                        <button>Open</button>
                    </div>

                    <div class="course-item">
                        <div>
                            <h4>Math</h4>
                            <span>8 lessons/3 weeks - Start Soon</span>
                        </div>
                        <button>Open</button>
                    </div>

                    <div class="course-item">
                        <div>
                            <h4>Art History</h4>
                            <span>10 lessons/3 weeks - Ongoing Now</span>
                        </div>
                        <button>Open</button>
                    </div>

                    <div class="course-item">
                        <div>
                            <h4>Architecture</h4>
                            <span>59 lessons/5 months - Start Soon</span>
                        </div>
                        <button>Open</button>
                    </div>
                    <div class="course-item">
                        <div>
                            <h4>Architecture</h4>
                            <span>59 lessons/5 months - Start Soon</span>
                        </div>
                        <button>Open</button>
                    </div>
                    <div class="course-item">
                        <div>
                            <h4>Architecture</h4>
                            <span>59 lessons/5 months - Start Soon</span>
                        </div>
                        <button>Open</button>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // name update
            const nameButton = document.getElementById('nameButton');
            const name = document.getElementById('name');
            const nameForm = document.getElementById('nameForm');
            const nameSubmit = document.getElementById('nameSubmit')
            nameButton.addEventListener('click', () => {
                name.style.display = 'none';
                nameForm.style.display = 'block';
            });
            nameSubmit.addEventListener('submit', async (event) => {
                event.preventDefault();
                name.style.display = 'block';
                nameForm.style.display = 'none';
            });


            // profile pic update

            const picButton = document.getElementById('picButton');
            const picForm = document.getElementById('picForm');
            const picSubmit = document.getElementById('picSubmit')
            picButton.addEventListener('click', () => {
                picForm.style.display = 'block';
            });
            picSubmit.addEventListener('submit', async (event) => {
                event.preventDefault();
                picForm.style.display = 'none';
            });


            // position Update
            const positionButton = document.getElementById('positionButton');
            const position = document.getElementById('position');
            const positionForm = document.getElementById('positionForm');
            const positionSubmit = document.getElementById('positionSubmit')
            positionButton.addEventListener('click', () => {
                position.style.display = 'none';
                positionForm.style.display = 'block';
            });
            positionSubmit.addEventListener('submit', async (event) => {
                event.preventDefault();
                position.style.display = 'block';
                positionForm.style.display = 'none';
            });


            // Contact section

            const contactButton = document.getElementById('contactButton');
            const contact = document.getElementById('contact');
            const contactForm = document.getElementById('contactForm');
            const contactSubmit = document.getElementById('contactSubmit')
            contactButton.addEventListener('click', () => {
                contact.style.display = 'none';
                contactForm.style.display = 'block';
            });
            contactSubmit.addEventListener('submit', async (event) => {
                event.preventDefault();
                contact.style.display = 'block';
                contactForm.style.display = 'none';
            });


            // Educational qualification
            const educationButton = document.getElementById('educationButton');
            const educationForm = document.getElementById('educationForm');
            const educationSubmit = document.getElementById('educationSubmit')
            educationButton.addEventListener('click', () => {
                educationForm.style.display = 'block';
                educationButton.style.display = 'none';
            });
            educationSubmit.addEventListener('submit', async (event) => {
                event.preventDefault();
                educationForm.style.display = 'none';
                educationButton.style.display = 'block';
            });

        });
    </script>
</body>

</html>