<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="/teacher_dashboard_style.css">
    <!-- bootstrap online -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>

<body>
    <div class="menu-bar">
        <div>
            <h7>Smart classroom logo</h1>
        </div>

        <div class="dropdown">
            <img src="/img/menu.png" alt="menu">
            <div class="dropdown-content">
                <a href="/teacher/dashboard">Dashboard</a>
                <a href="/teacher/edit_profile">Edit profile</a>
                <a href="/teacher/setting">Setting</a>
                <a href="/teacher/logout">Log out</a>
            </div>
        </div>

    </div>
    <div class="container">
        <!-- Profile Header -->
        <div class="profile-header">

            <!-- for pic segment -->
            <div class="profile-photo">
                <%if(user.picture){%>
                    <img src="/profilePics/<%=user.picture%>" alt="Theacher phto">
                    <% } else{ %>
                        <img src="/img/default.jpg" alt="Theacher phto">
                        <% } %>
                            <button id="picButton" type="submit">Edit photo</button>
                            <div id="picForm" style="display: none;">
                                <form id="edit-form" method="post" action="/teacher/update-profile-pic"
                                    enctype="multipart/form-data">
                                    <input type="file" name="updateProfilePic">
                                    <input type="hidden" name="email" value=<%=user.email%> >
                                    <button id="picSubmit" type="submit">Upload</button>
                                </form>
                            </div>
            </div>

            <!-- for name update -->
            <div class="profile-info">
                <div class="profile-info-item" id="name">
                    <h1>
                        <%= user.name %>
                    </h1>
                    <button id="nameButton"><img src="/img/edit.png" alt="edit"></button>
                </div>
                <div id="nameForm" style="display: none;">
                    <form id="edit-form" method="post" action="/teacher/update-name">
                        <input type="text" name="name" value="<%= user.name %>" required>
                        <input type="hidden" name="email" value=<%=user.email%> >
                        <button id="nameSubmit" type="submit">Submit</button>
                    </form>
                </div>


                <!-- for updationg positon -->

                <div class="profile-info-item" id="position">
                    <p> Position :
                        <%= user.position%>
                    </p>
                    <button id="positionButton"><img src="/img/edit.png" alt="edit"></button>
                </div>
                <div id="positionForm" style="display: none;">
                    <form id="edit-form" method="post" action="/teacher/update-position">
                        <input type="text" name="position" value="<%= user.position %>" required>
                        <input type="hidden" name="email" value=<%=user.email%> >
                        <button id="positionSubmit" type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="img-ru-logo">
                <img src="/img/ru_logo.png" alt="ru-logo">
                <!-- <a href="/teacher/logout"><button>Log out</button></a> -->
            </div>
            <!-- </div> -->
        </div>

        <!-- container1 cintain the section and course part -->
        <div class="container1">
            <div class="profile">
                <!-- Contact Info Section -->
                <div class="contact-info">
                    <h2 class="section-header">Contact Info :</h2>

                    <!-- Contact update -->

                    <div class="contact-info-item" id="contact">
                        <p>Address: <%= user.contact%>
                        </p>
                        <button id="contactButton"><img src="/img/edit.png" alt="edit"></button>
                    </div>

                    <div id="contactForm" style="display: none;">
                        <form id="edit-form" method="post" action="/teacher/update-contact">
                            <input type="text" name="contact" value="<%= user.contact %>" required>
                            <input type="hidden" name="email" value=<%=user.email%> >
                            <button id="contactSubmit" type="submit">Submit</button>
                        </form>
                    </div>



                    <!-- Email section -->
                    <div class="contact-info-item">
                        <p>Email Address: <%= user.email%>
                        </p>
                    </div>
                </div>

                <!-- research interest cse -->
                <div class="research-interest">
                    <h2 class="section-header">Research Interest : </h2>
                    <ul>
                        <% const researchs=user.researchs; researchs.forEach((element)=>{
                            %>
                            <li>
                                <%= element.research %>
                            </li>
                            <% }); %>
                    </ul>
                    <button id="researchButton">Add new</button>

                    <div id="researchForm" style="display: none;">
                        <form id="edit-form" method="post" action="/teacher/update-research">
                            <input type="text" name="research" value="<%= user.research %>" required>
                            <input type="hidden" name="email" value=<%=user.email%> >
                            <button id="researchSubmit" type="submit">Submit</button>
                        </form>
                    </div>
                </div>

                <!-- Education Section -->
                <div class="education">
                    <h2 class="section-header">Educational Background : </h2>
                    <div class="education-item">
                        <% const educations=user.educations; educations.forEach((element)=>{
                            %>
                            <h4>
                                <%= element.institute %>
                            </h4>
                            <span>
                                <%= element.qualification %>
                            </span>
                            <% }); %>
                    </div>

                    <button id="educationButton">Add new</button>
                    <div id="educationForm" style="display: none;">
                        <form id="edit-form" method="post" action="/teacher/update-education">
                            <input type="text" name="institute" value="<%= user.education %>" required><br>
                            <input type="text" name="degree" value="<%= user.education %>" required><br>
                            <input type="hidden" name="email" value=<%=user.email%> >
                            <button id="educationSubmit" type="submit">Submit</button>
                        </form>
                    </div>
                </div>

            </div>

            <div class="course-contain">
                <!-- Courses Section -->
                <div class="courses">
                    <div class="new-course">
                        <h2 class="section-header">Courses : </h2>
                        <button class="new-course-btn" id="courseButton">Add new course</button>
                    </div>


                

                    <% if (coursesByTeacher && coursesByTeacher.length > 0) { %>
                        <% coursesByTeacher.forEach((course)=> { %>
                            <div class="course-item">
                                <div>
                                    <%= course.batch_name %>
                                    <br><button style="background-color: green; color : wheat">open</button>
                                </div>
                                <div>
                                    <h4>
                                        <%= course.course_name %>
                                    </h4>
                                    <span>
                                        <%= course.course_title %>
                                    </span>
                                </div>
                                <button style="color: gold; background-color: red; ">close</button>
                            </div>
                                <% }); %>
                                    <% } else { %>
                                    <h4 style="background-color: seashell; color:red; width:auto; left : 55%; position : absolute">
                                        No course is now available</h4>
                                    <% } %>
                            </div>
                </div>
            </div>
        </div>

        <!-- Course form -->
        <div class="formContainer" id="courseForm" style="display: none;">
            <button class="deleteButton" id="cancelButton">
                X
            </button>

            <h3 style="color:#4CAF50">Fill out a course:</h3>
            <form method="post" action="/teacher/add-course">
                <div>
                    <label>Batch Name</label>
                    <input type="text" name="batch_name" placeholder="cse-28" class="input" required />
                </div>
                <div>
                    <label>Course Name</label>
                    <input type="text" name="course_name" placeholder="Machine Learning" class="input"
                        required />

                </div>
                <div>
                    <label>Course Title</label>
                    <input type="text" name="course_title" placeholder="CSE4211 : Machine Learnint" class="input"
                        required />

                </div>
                <input type="hidden" name="email" value="<%= user.email%>">
                <button type="submit" class="submit" id="courseSubmit">
                    Submit
                </button>
            </form>
        </div>


        <!-- java script  -->

        <script>
            document.addEventListener('DOMContentLoaded', () => {

                // name update
                const nameButton = document.getElementById('nameButton');
                const name = document.getElementById('name');
                const nameForm = document.getElementById('nameForm');
                const nameSubmit = document.getElementById('nameSubmit')
                nameButton.addEventListener('click', () => {
                    name.style.display = 'none';
                    nameForm.style.display = 'block';
                });
                nameSubmit.addEventListener('submit', async (event) => {
                    event.preventDefault();
                    name.style.display = 'block';
                    nameForm.style.display = 'none';
                });


                // profile pic update

                const picButton = document.getElementById('picButton');
                const picForm = document.getElementById('picForm');
                const picSubmit = document.getElementById('picSubmit')
                picButton.addEventListener('click', () => {
                    picForm.style.display = 'block';
                });
                picSubmit.addEventListener('submit', async (event) => {
                    event.preventDefault();
                    picForm.style.display = 'none';
                });


                // position Update
                const positionButton = document.getElementById('positionButton');
                const position = document.getElementById('position');
                const positionForm = document.getElementById('positionForm');
                const positionSubmit = document.getElementById('positionSubmit')
                positionButton.addEventListener('click', () => {
                    position.style.display = 'none';
                    positionForm.style.display = 'block';
                });
                positionSubmit.addEventListener('submit', async (event) => {
                    event.preventDefault();
                    position.style.display = 'block';
                    positionForm.style.display = 'none';
                });


                // Contact section

                const contactButton = document.getElementById('contactButton');
                const contact = document.getElementById('contact');
                const contactForm = document.getElementById('contactForm');
                const contactSubmit = document.getElementById('contactSubmit')
                contactButton.addEventListener('click', () => {
                    contact.style.display = 'none';
                    contactForm.style.display = 'block';
                });
                contactSubmit.addEventListener('submit', async (event) => {
                    event.preventDefault();
                    contact.style.display = 'block';
                    contactForm.style.display = 'none';
                });


                // Educational qualification
                const educationButton = document.getElementById('educationButton');
                const educationForm = document.getElementById('educationForm');
                const educationSubmit = document.getElementById('educationSubmit')
                educationButton.addEventListener('click', () => {
                    educationForm.style.display = 'block';
                    educationButton.style.display = 'none';
                });
                educationSubmit.addEventListener('submit', async (event) => {
                    event.preventDefault();
                    educationForm.style.display = 'none';
                    educationButton.style.display = 'block';
                });


                // research section
                const researchButton = document.getElementById('researchButton');
                const researchForm = document.getElementById('researchForm');
                const researchSubmit = document.getElementById('researchSubmit')
                researchButton.addEventListener('click', () => {
                    researchForm.style.display = 'block';
                    researchButton.style.display = 'none';
                });
                researchSubmit.addEventListener('submit', async (event) => {
                    event.preventDefault();
                    researchForm.style.display = 'none';
                    researchButton.style.display = 'block';
                });


                // course section
                const courseButton = document.getElementById('courseButton');
                const cancelButton = document.getElementById('cancelButton');
                const courseForm = document.getElementById('courseForm');
                const courseSubmit = document.getElementById('courseSubmit')

                courseButton.addEventListener('click', () => {
                    courseForm.style.display = 'block';
                    courseButton.style.display = 'none';
                });
                cancelButton.addEventListener('click', () => {
                    courseForm.style.display = 'none';
                    courseButton.style.display = 'block';
                });
                courseSubmit.addEventListener('submit', async (event) => {
                    event.preventDefault();
                    courseForm.style.display = 'none';
                    courseButton.style.display = 'block';
                });

            });
        </script>
</body>

</html>