<head>
    <title>Registration Page</title>
    <link rel="stylesheet" href="\registration_style.css">
</head>

<body>
    <div class="container">
        <h2>Create Account</h2>
        <form action="/student/register" method="POST">
            <div class="form-group">
                <label for="name">Name :</label>
                <input type="text" name="name" id="name" placeholder="Enter your name"
                    value="<%= typeof name !== 'undefined' ? name : '' %>" required>
            </div>
            <div class="form-group">
                <label for="email">Email : </label>
                <input type="email" id="email" name="email" placeholder="Enter your email" 
                        value="<%= typeof email !== 'undefined' ? email : '' %>" required>
                <div class="error_show">
                    <%= typeof error3 !=='undefined' ? error3 : '' %>
                </div>
            </div>
            <div class="form-group">
                <label for="Student ID">Student ID : </label>
                <input type="text" id="student_id" name="student_id" placeholder="Enter your student id"
                    value="<%= typeof student_id !== 'undefined' ? student_id : '' %>" required>
                <div class="error_show">
                    <%= typeof error4 !=='undefined' ? error4 : '' %>
                </div>
            </div>
            <div class="form-group">
                <label for="Student ID">Department Name : </label>
                <input type="text" id="department" name="department" placeholder="Enter your department name"
                    value="<%= typeof department !== 'undefined' ? department : '' %>" required>
                <div class="error_show">
                    <%= typeof error4 !=='undefined' ? error4 : '' %>
                </div>
            </div>
            <div class="form-group">
                <label for="Select Year">Select Year :</label>
                <select name="year" class="select_input" id="year_options" required>
                    <option value="" disabled selected>year</option>
                    <option value="1">1st year</option>
                    <option value="2">2st year</option>
                    <option value="3">3st year</option>
                    <option value="4">4st year</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Select Semester">Select Semester : </label>
                <select name="semester" class="select_input" id="semester_options" required>
                    <option value="" disabled selected>semester</option>
                    <option value="1">1st semester</option>
                    <option value="2">2st semester</option>
                </select>
            </div>
            <div class="form-group">
                <label for="password">Password : </label>
                <input type="password" id="password" name="password" 
                        placeholder="Enter your password" required>
                <div class="error_show">
                    <%= typeof error1 !=='undefined' ? error1 : '' %>
                </div>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password :</label>
                <input type="password" name="password2" id="password2" 
                        placeholder="Confirm your password"required>
                <div class="error_show">
                    <%= typeof error2 !=='undefined' ? error2 : '' %>
                </div>
            </div>
            <button type="submit" class="btn">Register</button>
        </form>
        <p>Already have an account? <a href="/student/login">Login here</a></p>
    </div>
</body>