<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="/dashboard/teacher_dashboard_style.css">
    <!-- bootstrap online -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>

<body>
    <div class="container" id="container">
        <!-- hidden input field to get the user email -->
        <!-- <input type="hidden" id="getUser" value="<%= user %>"> -->
        
        <!-- Imported Profile Header of the dashboard including
                dropdown menu,
                profile picture, 
                name, 
                position,
                RU logo
        -->
        
        <%- include('Dashboard_Component/profile_header') %>

        <!-- container1 cintain the section and course part -->
         
        <div class="container1">
            
            <!-- Imported Profile Section of tacher including 
                    contact info, 
                    research interest, 
                    education background            
            -->
            <%- include('Dashboard_Component/profile_Info') %>


            <!-- Today Course Section -->

            <div class="courseAndschedule">

                <!-- Today class Section -->
                
                <%- include('Dashboard_Component/schedule.ejs') %>




                <!-- Courses Section -->
                <div class="courses">
                    <div class="new-course">
                        <h2 class="section-header" style="margin-left: 7px;">Courses : </h2>
                        <button class="new-course-btn" id="courseButton">Add new course</button>
                    </div>


                    <% if (coursesByTeacher && coursesByTeacher.length > 0) { %>
                        <% coursesByTeacher.forEach((course,index)=> { %>
                            <div class="course-item">
                                <div class="course-item1">
                                    <div>
                                        <p style="margin: 0px;">
                                            Subject: <%= course.course_name %>
                                        </p>
                                            Dept : <%= course.department %>
                                        </span></br>
                                        <span>
                                            Year : <%= course.year_semester[0] %> |
                                            Semester : <%= course.year_semester[2] %>
                                        </span>
                                        
                                    </div>

                                    <div>
                                        <!-- <form id="scheduleButtonForm<%=index%>"> -->
                                            <input type="hidden" id="department<%=index%>" value="<%= course.department %>">
                                            <input type="hidden" id="year_semester<%=index%>" value="<%= course.year_semester %>">
                                            <button style="margin-left: 30px;" id="scheduleButton<%=index%>" 
                                                class="scheduleButton" value="<%= course.course_name %>">
                                                Schedule
                                            </button>
                                        <!-- </form> -->
                                        <%index++%>
                                    </div>
                                </div>

                                <form method="post" action="/attendance_sheet/all">
                                    <input type="hidden" name="course_name" value="<%= course.course_name %>">
                                    <button style="font-family: fantasy;font-size: 24px;background-color: #4CAF50;">
                                        open
                                    </button>
                                </form>
                            </div>
                        <% }); %>
                        <% } else { %>
                    <h4 style="color:green;text-align: center;">
                    No course is now available.</h4>
                    <% } %>        
                </div>
            </div>
        </div>
    </div>
        <!-- Course form -->

        <div class="courseForm" id="courseForm" style="display: none;">
            <div class="formHeader">
                <h2 style="color:#4CAF50">Create a new course :</h2>
                <button class="deleteButton" id="cousreCancel">
                    ❌
                </button>
            </div>

            <form class="Addcourse" method="post" action="/teacher/add-course">
                <div>
                    <label>Course Name :</label>
                    <input type="text" name="course_name" placeholder="Machine Learning" class="input" required />
                
                </div>

                <div>
                    <label>Dept Name :</label>
                    <input type="text" name="dept_name" placeholder="cse" class="input" required />
                </div>

                <div>
                    <label for="options">Select Year :</label>
                    <select name="year" class="select_input" id="year_options" required>
                        <option value="" disabled selected>year</option>
                        <option value="1">1st year</option>
                        <option value="2">2st year</option>
                        <option value="3">3st year</option>
                        <option value="4">4st year</option>
                    </select>
                </div>
                <div>
                    <label for="options">Select Semester :</label>
                    <select name="semester" class="select_input" id="semester_options" required>
                        <option value="" disabled selected>semester</option>
                        <option value="1">1st semester</option>
                        <option value="2">2st semester</option>
                    </select>
                </div>
                <input type="hidden" name="email" value="<%= user.email%>">
                <button type="submit" class="submit" id="courseSubmit">
                    Submit
                </button>
            </form>
        </div>



        <!-- schedule the classes -->
         
        <div class="scheduleForm" id="scheduleForm" style="display: none;">
            <!-- fetch previous schedule from database -->
            <div class="sC1">
                <div id="ScheduleFromDatabase">

                </div>
            

                <div>
                    <div class="formHeader">
                        <h2 style="color:#4CAF50" id="scheduleHeaderH2">Add Schedule</h2>
                        <button class="deleteButton" id="scheduleCancel">
                            ❌
                        </button>
                    </div>

                    <form class="AddSchudle" id="AddSchudle" method="post" action="/teacher/add-schedule">        
                        <div>
                            <label for="options">Select Day :</label>
                            <select name="select_day" class="select_input" id="day_options" required>
                                <option value="" disabled selected>Day</option>
                                <option value="Sunday">Sunday</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                            </select>
                        </div>
                        <div>
                            <label >Start Time :</label>
                            <input type="time" name="start_time" class="input" required />

                            <label >End Time :</label>
                            <input type="time" name="end_time" class="input" required />
                        </div>
                
                        <div>
                            <input type="hidden" name="course_name" id="SchedulecourseName" value="">
                            <input type="hidden" name="department" id="Scheduledepartment" value="">
                            <input type="hidden" name="year_semester" id="Scheduleyear_semester" value="">
                            <button type="submit" class="submit" id="scheduleSubmit"> Submit </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

</body>

        <!-- java script  -->

<script>

    // async function submitData() {
    //         const name = document.getElementById('nametosend').value;
    //         const email = document.getElementById('email').value;

    //         try {
    //             const response = await fetch('/teacher/api/user', {
    //                 method: 'POST',
    //                 headers: {
    //                     'Content-Type': 'application/json'
    //                 },
    //                 body: JSON.stringify({
    //                     name: name,
    //                     email: 'john@example.com'
    //                 })
    //             });

    //             const result = await response.json();
    //             document.getElementById('responseMessage').innerText = result.user;
    //         } catch (error) {
    //             document.getElementById('responseMessage').innerText = 'Error sending data';
    //         }
    //     }

    // function loadTeachers() {
    //         fetch('/teacher/api') // Updated API URL
    //             .then(response => response.json()) // Convert response to JSON
    //             .then(data => {
    //                 let output = "<ul>";
    //                 // data.forEach(teacher => {
    //                 //     output += `<li>
    //                 //         <strong>${teacher.name}</strong> - ${teacher.email} - ${teacher.department} <br>
    //                 //         <em>Position:</em> ${teacher.position || 'N/A'} <br>
    //                 //         <em>Contact:</em> ${teacher.contact || 'N/A'} <br>
    //                 //         <em>Educations:</em>
    //                 //         <ul>
    //                 //             ${teacher.educations.map(edu => `<li>${edu.qualification} at ${edu.institute}</li>`).join('')}
    //                 //         </ul>
    //                 //         <em>Researches:</em>
    //                 //         <ul>
    //                 //             ${teacher.researchs.map(res => `<li>${res.research}</li>`).join('')}
    //                 //         </ul>
    //                 //     </li><hr>`;
    //                 // });
    //                 // output += "</ul>";
    //                 document.getElementById('result').innerHTML = data.name;
    //             })
    //             .catch(error => console.error('Error fetching data:', error));
    //     }


    // we will get the user email from the hidden input field
    // const user = document.getElementById('getUser').value;

    
    document.addEventListener('DOMContentLoaded', () => {
        // course section
        const courseButton = document.getElementById('courseButton');
        const cancelButton = document.getElementById('cousreCancel');
        const courseForm = document.getElementById('courseForm');
        const courseSubmit = document.getElementById('courseSubmit')

        courseButton.addEventListener('click', () => {
            courseForm.style.display = 'block';
            // courseButton.style.display = 'none';
            document.getElementById("container").classList.add("blur");
        });
        cancelButton.addEventListener('click', () => {
            courseForm.style.display = 'none';
            courseButton.style.display = 'block';
            document.getElementById("container").classList.remove("blur");
        });
        courseSubmit.addEventListener('submit', async (event) => {
            event.preventDefault();
            courseForm.style.display = 'none';
            courseButton.style.display = 'block';
            document.getElementById("container").classList.remove("blur");
        });



        
        

    });
    // schedule section
    const scheduleButton = document.querySelectorAll('.scheduleButton');
    const scheduleForm = document.getElementById('scheduleForm');
    const scheduleCancel = document.getElementById('scheduleCancel');
    const scheduleSubmit = document.getElementById('scheduleSubmit');

    //
    let departmentshow;

    scheduleButton.forEach((button, index) => {
        button.addEventListener('click', async () => {
            //document.getElementById(`scheduleButton${index}`).style.display = 'none';
            document.getElementById("container").classList.add("blur");
            // document.getElementById('scheduleHeaderH2').innerHTML = `Schedule ${button.value} course : `;
            document.getElementById('SchedulecourseName').value = button.value;
            document.getElementById('Scheduledepartment').value = document.getElementById(`department${index}`).value;
            document.getElementById('Scheduleyear_semester').value = document.getElementById(`year_semester${index}`).value;
            scheduleForm.style.display = 'block';

            // fetch previous schedule from database
            const response = await fetch('/teacher/api/schedule', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    course_name: button.value,
                    department : document.getElementById(`department${index}`).value,
                    year_semester : document.getElementById(`year_semester${index}`).value
                })
            });

            const result = await response.json();
            // loop through the result and display the schedule
            let output = "<ul class='scheduleList'>";
            result.schedule.forEach(schedule => {
                output += `<li class = "eachSchedule">
                        <p>Day: ${schedule.day} </p>
                        <p>Start: ${schedule.start_time}  </p>
                        <p>End: ${schedule.end_time} </p> 
                </li><hr>`;
            });
            output += "</ul>";
            document.getElementById('ScheduleFromDatabase').innerHTML = result.schedule.length > 0 ? output : 'No schedule available';




        });

    });

    scheduleCancel.addEventListener('click', () => {
        scheduleForm.style.display = 'none';
        scheduleButton.forEach((btn, index) => {
        // document.getElementById(`scheduleButton${index}`).style.display = 'block';
        document.getElementById("container").classList.remove("blur");
        });
    });

    scheduleSubmit.addEventListener('submit', async (event) => {
        event.preventDefault();
        scheduleForm.style.display = 'none';
        // scheduleButton.style.display = 'block';
        document.getElementById("container").classList.remove("blur");
    });


        
</script>

</html>