<div class="navbar w-full bg-gradient-to-r from-green-500 to-teal-600 shadow-lg ">
    <a href="/teacher/dashboard"class="nav-item <%= page === 'attendance_sheet_all' ? 'active' : '' %>" data-index="0">
        Home
    </a>

    <a href="/attendance_sheet/all?course_name=<%= course_name %>" class="nav-item <%= page === 'attendance_sheet_all' ? 'active' : '' %>" data-index="0">
        Attendace Sheet
    </a>
    <a href="/course_tracker?course_name=<%= course_name %>" class="nav-item <%= page === 'course_tracker' ? 'active' : '' %>" data-index="1">
        Tracker
    </a>
    <a href="/assignments?course_name=<%= course_name %>" class="nav-item <%= page === 'assignments' ? 'active' : '' %>" data-index="2">
        Assignment
    </a>
    <a href="/resource_sharing?course_name=<%= course_name %>" class="nav-item <%= page === 'resource_sharing' ? 'active' : '' %>" data-index="3">
        Resource
    </a>
    <div class="slider"
        style="left: <%= ['20%','40%','60%','80%'][['attendance_sheet_all','course_tracker','assignments','resource_sharing'].indexOf(page)] %>;">
    </div>
</div>